/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/purple-green.css';

body {
  background-color: black;
}

html, body {
  height: 100%;
}

.mat-dialog-background .mat-dialog-container {
  background-color: black;
  border: 1px solid grey;
}

dialog {
  background-color: black;
  border: none !important;
}

body {
  margin: 0;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
